body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(https://media.giphy.com/media/l0MYv7UPyB1tCiBag/giphy.gif) right;
  background-repeat: repeat-y;
  -webkit-animation-name: body;
  -webkit-animation-duration: 1s;
  animation-name: body;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

@keyframes body{
  0%   {background-color:#1B1B1E;}
  15%  {background-color:#575A5E;}
  30%  {background-color:#1B1B1E;}
  45%  {background-color:#020402;}
  60% {background-color: #1B1B1E;}
  75%  {background-color:#575A5E;}
  90% {background-color: #D3D0CB;}
  100% {background-color:#020402;}
}

#home{
  text-align: center;
  color: white;
  letter-spacing: 5px;
  -webkit-animation-name: home;
  -webkit-animation-duration: 1s;
  animation-name: home;
  animation-duration: 10s;
  animation-iteration-count: 1;
}

@keyframes home{
  from {
      -webkit-transform: translateX(100px);
   }
   to {
      -webkit-transform: translateX(10px);
   }
}

#root{
  width: 20%;
  display: inline;
}

a{
  display: flex;
  color: white;
  text-decoration: none;
  /*margin: auto;*/
  font-family: 'Wire One';
  font-size: 200%;
  margin-left: 5px;
  width: 40%;
 }

a:hover {
   filter: blur(1px) grayscale(10%);
 }

 /*Contact Page*/
 @keyframes contact{
   0%   {background-color:#FFFFFF;}
  15%  {background-color:#D3D0CB;}
  30%  {background-color:#E7E5DF;}
  45%  {background-color:#B4B8AB;}
  60% {background-color: #E7E5DF;}
  75%  {background-color:#D3D0CB;}
  90% {background-color: #FFFFFF;}
  100% {background-color:#B4B8AB;}
  from {
      -webkit-transform: translateX(100px);
   }
   to {
      -webkit-transform: translateX(10px);
   }
  }
  .nav{
  color: white;
  float: left;
  opacity: .7;
  font-size: 30px;
  width: 40%;
  background-color: black;
  font-family: 'Wire One';
  letter-spacing: 2px;
  text-align: center;
  /*-webkit-animation-name: contact;
  -webkit-animation-duration: 4s;
  animation-name: contact;
  animation-duration: 15s;
  animation-iteration-count: 1;*/
  -webkit-animation-name: resume;
  -webkit-animation-duration: 4s;
  animation-name: resume;
  animation-duration: 15s;
  animation-iteration-count: 1;
  }

#socialMedia a{
    display: inline-block;
    width: 47px;
    margin-left: 0;
    margin-top: 5%;
    padding-top: 0px;
  }

#socialMedia img{
  height: 40px;
  width: 40px;
  background-color: white;
}

.nav:hover{
  opacity: 1;
}

#contactHeader{
  border-bottom: 2px solid white;
  margin: 0 auto;
  width: 40%;
  color: red;
}


#email{
  color: white;
  font-size: 100%;
  display: inline;
  margin: 0 auto;
  margin-top: 2px;
}

/*About*/

#about p{
  font-size: 80%;
  padding:10px;
  margin-top: 0px;
  color: white;
}

  /*Portfolio*/
#portfolio{
  background-color: black;
  width: 100%;
  opacity: .8;
  display: flex;
  margin-top: 15%;
  height: 100%;
  -webkit-animation-name: portfolio;
  -webkit-animation-duration: 4s;
  animation-name: portfolio;
  animation-duration: 15s;
  animation-iteration-count: 1;
}

#portfolio:hover{
  opacity: 1;
}

@keyframes portfolio{
  0%  {background-color:#FFFFFF;}
 15%  {background-color:#D3D0CB;}
 30%  {background-color:#E7E5DF;}
 45%  {background-color:#B4B8AB;}
 60%  {background-color: #E7E5DF;}
 75%  {background-color:#D3D0CB;}
 90%  {background-color: #FFFFFF;}
 100%  {background-color: #B4B8AB;}
 from {
     -webkit-transform: translateX(100px);
  }
  to {
     -webkit-transform: translateX(10px);
  }
}

#portfolio a{
  color: black;
  display: flex;
  align-items: center;
  font-size: 26px;
}

#portfolio img{
  height: 80%;
  width: 80%;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 40px;
}

/*RESUME*/

#resume{
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: black;
  width: 50%;
  opacity: .7;
  margin-left: 10px;
  -webkit-animation-name: resume;
  -webkit-animation-duration: 4s;
  animation-name: resume;
  animation-duration: 15s;
  animation-iteration-count: 1;
}

@keyframes resume{
  0%  {opacity: 0;}
 60%  {opacity: 1;}
 from {
     -webkit-transform: translateX(100px);
  }
  to {
     -webkit-transform: translateX(10px);
  }
}


#resume h2{
  text-align: center;
  border-bottom: 1px solid white;
}

#resume h3{
  margin-left: 10px;
}
#resume h4{
  margin-left: 40px;
  margin-top: 1px;
  padding-top: 1px;
}
#resume h5{
  margin-left: 60px;
}
#resume a{
  font-size: 30px;
  color: red;
}
#design{
  text-align: center;
}
