body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(https://static1.squarespace.com/static/53ceeaa1e4b014ac698827a1/53f66b1be4b08b44983ffc03/53f66b31e4b08b44983ffc22/1408658275416/NINA_01.gif?format=1000w);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  color: white;
}

#root{
  width: 20%;
  display: inline;
}

.HomeLinks{
  width: 20%;
  display: inline;
}

 a{
  display: flex;
  color: white;
  text-decoration: none;
  margin: auto;;
  font-family: 'Wire One';
  font-size: 200%;
  margin-left: 5px;
  width: 40%;
 }


a:hover {
   filter: blur(1px) grayscale(10%);
 }

 /*Contact Page*/
   @keyframes contact{
     0%   {background-color:#FF002E;}
  15%  {background-color:#FE00D6;}
  30%  {background-color:#D600FE;}
  45%  {background-color:#3200FF;}
  60% {background-color: #00E1FF;}
  75%  {background-color:#00FFAD;}
  90% {background-color: #29FD00;}
  90% {background-color: #FED400;}

  /*0%   {background-color:#27FEC2;}
25%  {background-color:#07BEB8;}
50%  {background-color:#8DE7CB;}
75%  {background-color:#48E5C2;}
100% {background-color: #27FEC2;}*/
  /*from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }*/

  }
  .nav{
  background-color: red;
  color: black;
  float: right;
  opacity: .7;
  font-size: 30px;
  width: 40%;
  /*background-color: white;*/
  font-family: 'Wire One';
  text-align: center;
  -webkit-animation-name: contact;
  -webkit-animation-duration: 4s;
  animation-name: contact;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  }


  #socialMedia a{
    display: inline-block;
    width: 47px;
    margin-left: 0;
    margin-top: -10%;
    padding-top: 0px;

  }

#socialMedia img{
  height: 40px;
  width: 40px;
}

  .nav:hover{
    opacity: 1;
  }

  #contactHeader{
    border-bottom: 2px solid black;
    margin: 0 auto;
    width: 40%
  }

  .nav a{
    color: black;
    font-size: 100%;
    margin-left: 25%;
  }

  /*About*/

  #about p{
    font-size: 80%;
    padding:10px;
    margin-top: 0px;
  }

#portfolio{
  width: 100%;
  /*opacity: .7;*/
  display: flex;
  justify-content: center;
  margin-top: 15%;
  height: 100%;
}

  /*Portfolio*/
#portfolio img{
  display: flex;
  justify-content: center;
  height: 50%;
  width: 60%;
  margin-top: 10%;
  margin-bottom: 10%;
}
